.bg-whithe {
    background-color: #ffffff;
}

.whithe {
    color: #ffffff;
}

.bg-rosa {
    background-color: #d7949d;
}

.rosa {
    color: #d7949d;
}

.bg-black {
    background-color: black;
}

.black {
    color: black;
}

.dourado {
    color: #ecc661;
}

.bg-dourado {
    background-color: #ecc661;
}

.grad {
    height: auto;
    background-color: #f8cfdf;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#f8cfdf, #c7eff7, );
}


/* Novas cores */

.rosa-claro {
    color: #f8cfdf;
}

.bg-rosa-claro {
    background-color: #f8cfdf;
}

.azul-claro {
    color: #c7eff7;
}

.bg-azul-claro {
    background-color: #c7eff7;
}

.amerelo-fraco {
    color: #fff393;
}

.bg-amrelo-claro {
    background-color: #fff393;
}